.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to t('application.name'), (user_signed_in? ? dashboard_path : root_path), :class => 'brand'

      = link_to '#', :class => 'btn btn-navbar', :data => { :toggle => 'collapse', :target => '.nav-collapse' } do
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      .nav-collapse
        %ul.nav.user-actions.pull-right
          - if user_signed_in?
            %li.dropdown
              = link_to '#', :class => 'dropdown-toggle logged-in-user-toggle', :data => { :toggle => 'dropdown' } do
                = image_tag current_user.avatar.tiny.url, :alt => current_user.email, :size => '20x20', :class => 'avatar'
                = current_user.email
                %b.caret
              %ul.dropdown-menu
                %li= link_to 'Settings', edit_user_registration_path
                %li.divider
                %li= link_to 'Log out', destroy_user_session_path, :method => :delete
          - else
            %li
              - if @switch_navbar
                = link_to new_user_registration_path, :class => 'sign-up-link' do
                  %em Don't have an account?
                  %strong Sign up
              - else
                = link_to new_user_session_path, :class => 'sign-in-link' do
                  %em Already have an account?
                  %strong Sign in
